<!DOCTYPE html>
<html lang="en">
<head>
  <title>Joy Career</title>
  <style>
    h1 {
      font-size:40px;
      font-family: Roboto;
      font-weight: normal;
      text-align: center;
    }
    #banner {
      width: 100%;
      height: 360px;
      object-fit: cover;
    }
    h2 {
      font-family: Roboto;
      font-size: 32px;
      text-align: center;
    }
    .bodytext {
      font-family: Roboto;
      color: rgb(80, 80, 80);
    }
    #container {
      max-width: 720px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div id="container">
    <h1>Joy Careers</h1>
    <img id="banner" src="https://719ec11f-efc4-482b-a857-8be13843d0ff-00-ccxyoyxg3nv1.sisko.replit.dev/static/banner.jpg" height="320">
    <h2>About Joy</h2>
    <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac ornare libero, ac ullamcorper risus. Cras non pellentesque elit. Ut lobortis magna et varius volutpat. Etiam orci elit, pharetra id rutrum non, tempor suscipit diam. Donec lectus ante, pellentesque scelerisque nunc non, tincidunt tempor felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam eget erat molestie lectus ultricies vulputate. Pellentesque vel sem ac mi vehicula dictum non id leo. Sed imperdiet leo in semper finibus. 
    </p>
    <h2>Open Positions</h2>
    <p class="bodytext">ToDo - Show the jobs here</p>
    <div style="text-align:center;">
    <button>Contact Us</button>
      <p>CopyRight 2024 Joy Career</p>
    </div>

  </div>
</body>
</html>